body {
  background-image: url('/static/assets/images/nuvens.gif');
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  height: 100vh;
  background-color: #89cbf1;
}

.home-container {
  color: #f2f2f2;
  font-family: Roboto, sans-serif;
  padding: 0.625rem;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 2rem;
}

.home-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  font-size: 1.3rem;
}

.home-body-container h3 {
  text-align: justify;
  font-size: 1.125rem;

  padding: 15px;
  border-radius: 0.75rem;

  background-color: rgb(0, 0, 0, 0.5);
}

.home-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  margin-top: 80px;
}

.home-singleButton-container {
  display: flex;
  flex-direction: row;

  gap: 7px;
}

.home-singleButton-container img {
  width: 30px;
  height: 30px;
}

.home-image-button {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  border-radius: 50%;

  padding: 4px;
}

.home-button {
  border-radius: 0.75rem;
  background-color: #e6e6e6;
  border: #e6e6e6;
  width: 200px;
  padding: 0.313rem 0.625rem;

  color: #232426;
  font-size: 1.438rem;
}

#instrucoesBotao {
  margin-top: 50px;
}
