body {
  background-image: url("/static/assets/images/backgrond-leaf.png");
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  height: 100vh;
  background-color: #394a1e;
}

.instrucoes-container {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  gap: 2.5rem;

  text-align: justify;
  font-family: Roboto, sans-serif;
  color: #bad9cc;
}

.header-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  font-size: 2.25rem;
  color: #95ebc7;
}

.header-container h3 {
  font-size: 1.563rem;
}

.body-container p {
  font-size: 1.438rem;
}

.lavoura-button {
  border-radius: 0.75rem;
  background-color: #e6e6e6;
  border: #fff;
  padding: 0.313rem 0.625rem;

  color: #1a1a1a;
}

.instrucoes-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instrucoes-button {
  border-radius: 0.75rem;
  background-color: #e6e6e6;
  border: #fff;
  padding: 0.315rem 0.63rem;

  color: #1a1a1a;
}
